name: Build and Deploy

on:
  pull_request:
    branches: [master, main]
  push:
    branches: [master, main]

jobs:
  build-html:
    runs-on: ubuntu-22.04

    container:
      image: gvegayon/appliedsnar:latest

    steps:
    - uses: actions/checkout@v3

    - name: Render
      run: |
        quarto render --to html

    - name: Upload artifact
      # uses: actions/upload-pages-artifact@v3
      uses: actions/upload-artifact@v3
      with:
        path: _docs
        name: gh-page-html

  build-pdf:
    runs-on: ubuntu-22.04

    container:
      image: gvegayon/appliedsnar:latest

    steps:
    - uses: actions/checkout@v3

    - name: Render
      run: |
        quarto render --to pdf

    - name: Upload artifact
      # uses: actions/upload-pages-artifact@v3
      uses: actions/upload-artifact@v3
      with:
        path: _docs
        name: gh-page-pdf

  combine:
    runs-on: ubuntu-22.04

    needs: [build-html, build-pdf]

    steps:
    - uses: actions/checkout@v3

    - name: Download artifacts
      uses: actions/download-artifact@v3
      with:
        name: gh-page-html

    - name: Download artifacts
      uses: actions/download-artifact@v3
      with:
        name: gh-page-pdf

    - name: Combine
      run: |
        cp -r gh-page-html/* gh-page-pdf/
        mv gh-page-pdf/* docs/
        rm -rf gh-page-html gh-page-pdf

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      # uses: actions/upload-artifact@v3
      with:
        path: docs

  deploy:
    runs-on: ubuntu-22.04

    needs: combine

    steps:
    - uses: actions/checkout@v3
    
    - uses: actions/deploy-pages@v3
